@{
  Layout = "_Layout";
}

<h1>Welcome to the Record Store</h1>
<p>@Html.ActionLink("See all Genres", "Index", "Genres")</p>
<p>@Html.ActionLink("See all Albums", "Index", "Albums")</p>
<p>@Html.ActionLink("See all Songs", "Index", "Songs")</p>